@import url('https://fonts.googleapis.com/css2?family=Palanquin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
    transition: all 0.16s linear;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 5rem;
    background-color: rgb(15, 14, 14);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.modes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.mode{
    margin: 0rem 1.3rem;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid white;
}
.main22{
    height: 60vh;
}
.logo{
    cursor: pointer;
}
h4{
    font-size: 23px;
}
h5{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    color: white;
}
.box{
    position: relative;
    max-width: 60rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: #2b2b2b;
    margin: 2rem;
}
.score{
    position: absolute;
    top: 10px;
    right: 10px;
}
.ques{
    margin-top: 1.7rem;
    margin-right: 20px;
    margin-bottom: 2rem;
}
.opt{
    margin-left: 4px;
}
.op1{
    margin: 4px 0px;
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.op1:hover{
    background-color: #1f1f1f;
}
.active{
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 5px;
    color: aqua;
}
.true{
    background-color: rgba(51, 255, 0, 0.247);
}
.false{
    background-color: rgba(255, 0, 0, 0.247);
}
.pt{
    margin-right: 12px;
    border-radius: 50%;
    width: 1px;
    border: 7px solid white;
}
.active-pt{
    height: 12px;
    width: 12px ;
    border: 2px solid aqua;
    border-radius: 50%;
}
.btns{
    margin-top: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btns button{
    font-size: 19px;
    width: 100%;
    margin: 0px 3px;
    background-color: gray;
    padding: 7px 0px;
    cursor: pointer;
}
.next{
    display: none;
}
.finish{
    display: none;
}
.next:active{
    color: rgb(0, 153, 255);
}
.finish:active{
    color: red;
}
.submit:active{
    color: rgb(0, 255, 0);
}
.alert{
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 0.5rem 1rem;
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.box2{
    display: none;
    text-align: center;
}
.md1{
    border-color: red;
}
.md11{
    background-color: red;
}
.md1:hover{
    background-color: red;
}
.md2{
    border-color: yellow;
}
.md22{
    background-color: yellow;
}
.md2:hover{
    background-color: yellow;
    color: black;
}
.md3{
    border-color: rgb(0, 247, 0);
}
.md33{
    background-color: rgb(0, 247, 0);
}
.md3:hover{
    background-color: rgb(0, 247, 0);
    color: black;
}
.md4{
    border-color: cyan;
}
.md44{
    background-color: cyan;
}
.md4:hover{
    background-color: cyan;
    color: black;
}
.md5{
    border-color: rgb(233, 106, 127);
}
.md55{
    background-color: rgb(233, 106, 127);
}
.md5:hover{
    background-color: rgb(233, 106, 127);
    color: black;
}
.md6{
    border-color: rgb(182, 43, 43);
}
.md66{
    background-color: rgb(182, 43, 43);
}
.md6:hover{
    background-color: rgb(182, 43, 43);
}
.md7{
    border-color: rgb(174, 0, 255);
}
.md77{
    background-color: rgb(174, 0, 255);
}
.md7:hover{
    background-color: rgb(174, 0, 255);
}
.md8{
    border-color: lightslategray;
}
.md88{
    background-color: lightslategray;
}
.md8:hover{
    background-color: lightslategray;
    color: black;
}
.lds-grid {
    /* display: inline-block; */
    margin-top: 10rem;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
@media screen and (max-width:502px) {
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 17px;
    }
    p{
        font-size: 15px;
    }
    .btns button{
        font-size: 15px;
    }
}